* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Courier New', Courier, monospace;
}
.container {
    max-width: 900px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.row > [class^='col--'] {
	padding: 20px;
}

/* Barra Navigazione */

header {
    background-color: #ff6900;
    height: 60px;
    width: 100%;
    position: sticky;
    padding-bottom: 50px;
    z-index: 2000;
    top: 0;
}


.row {
	display: flex;
	flex-wrap: wrap;
}

.nav-row {
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.col-4 {
	flex-basis: calc((100% / 12) * 4);
	/* flex-basis: calc((100% * 2) / 12); */
    /* border: 1px dashed black; */
}

ul li {
    list-style: none;
    display: inline;
    color: white;
    font-weight: bold;
    padding-bottom: 10px;
}


.boolean-logo {
    max-width: 50%;
    margin: 3px 0 0 80px;
}

.header-icon {
    margin: 7px 0 0 214px;
}

/* main {
    padding: 60px 0 20px 0;
} */

/* card immagine 1 */

.col--4 {
	flex-basis: calc((100% / 12) * 4);
    /* border: 1px dashed black; */
}

.top-image {
    position: absolute;
    opacity: 0;
}

.card-1:hover .top-image {
	opacity: 1;
}

.card-1 {
    position: relative;
}

.brand {
    color: rgb(146, 146, 146);
}

.price {
    color: red;
    display: inline-block;
    font-weight: bold;
}

.old-price {
    text-decoration: line-through;
}

.discount {
    background-color: red;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    position: absolute;
    left: 0;
    bottom: 100px;
}

.sustainable {
    background-color: green;
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    position: absolute;
    left: 60px;
    bottom: 100px;
}

.heart {
    padding: 5px 14px;
    font-size: 30px;
    background-color: white;
    position: absolute;
    right: 0;
    top: 10px;
}

.heart-red {
    padding: 5px 14px;
    font-size: 30px;
    background-color: white;
    position: absolute;
    color: red;
    right: 0;
    top: 10px;
    opacity: 0;
}

.red:hover .heart-red {
	opacity: 1;
}

strong {
    display: block;
}

.sustainable.six {
    left: 0px;
}

/* sezione footer */

footer {
    background-color: #1a1a1a;
    height: 110px;
    width: 100%;
    position: sticky;
    z-index: 2000;
    bottom: 0;
}

.footer-row {
    justify-content: space-between;
}

.col-6 {
	flex-basis: calc((100% / 12) * 6);
	/* flex-basis: calc((100% * 2) / 12); */
    /* border: 1px dashed black; */
}

.footer-border {
    padding-top: 20px;
}

.footer-text {
    color: white;
    line-height: 25px;
}

.footer-text-2 {
    color: white;
    line-height: 25px;
    text-align: right;
}